.meal-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px;
}

.meal-border{
    border: 1px solid peru;
    padding: 10px;
    border-radius: 15px;
}